<div class="container">
    <h1>{{ ciudadId }}</h1>
    <div class="module-header">
        <div class="left">
            <h3>{{ formTitulo }}</h3>
        </div>
        <div class="right">
            <button mat-raised-button class="custom-button" (click)="guardarCiudad()">Guardar</button>
        </div>
    </div>
    <hr />
    <div class="form-container">
        <form class="form" [formGroup]="ciudadForm">
            <input type="hidden" name="idciudad" formControlName="idciudad">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descripción</mat-label>
                <input matInput name="nomciudad" formControlName="nomciudad" />
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Jurisdicción</mat-label>
                <input matInput name="idjurisdiccion" formControlName="idjurisdiccion" />
            </mat-form-field> -->
            <mat-form-field>
                <mat-label>Jurisdicción</mat-label>
                <mat-select formControlName="idjurisdiccion">
                @for (jurisdiccion of jurisdicciones; track jurisdiccion) {
                <mat-option [value]="jurisdiccion.idjurisdiccion" >{{jurisdiccion.nomjurisdiccion}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>