.container {
    margin: 20px;
  }
  
  .card {
    padding: 20px;
  }
  
  button.custom-button {
    background-color: #1976d2;
    color: white;
    margin-bottom: 20px;
  }
  
  button.custom-button mat-icon {
    margin-right: 8px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  .custom-table {
    width: 100%;
  }
  
  .custom-row:nth-child(even) {
    background-color: #eeeeee;
  }
  
  .custom-row:nth-child(odd) {
    background-color: white;
  }
  
  th.mat-header-cell, td.mat-cell {
    text-align: left;
    padding: 8px;
  }