<div class="container">
  <mat-card class="card">
    <mat-card-title>
      <h2>Gestión de Vuelos</h2>
    </mat-card-title>
    <mat-card-content>
      <button mat-raised-button class="custom-button" (click)="onNavigateCreateVuelo()">
        <mat-icon>add</mat-icon> Nuevo Vuelo
      </button>
      <table mat-table [dataSource]="vuelos" class="mat-elevation-z8 custom-table">

        <ng-container matColumnDef="idvuelo">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{ element.idvuelo }} </td>
        </ng-container>
      
        <ng-container matColumnDef="numerovuelo">
          <th mat-header-cell *matHeaderCellDef> Numero de Vuelo </th>
          <td mat-cell *matCellDef="let element"> {{ element.numerovuelo }} </td>
        </ng-container>
      
        <ng-container matColumnDef="nomaerolinea">
          <th mat-header-cell *matHeaderCellDef> Aerolínea </th>
          <td mat-cell *matCellDef="let element"> {{ element.nomaerolinea }} </td>
        </ng-container>
      
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Avión </th>
          <td mat-cell *matCellDef="let element"> {{ element.modelo }} </td>
        </ng-container>
      
        <ng-container matColumnDef="nomaeropuerto_origen">
          <th mat-header-cell *matHeaderCellDef> Aeropuerto de Origen </th>
          <td mat-cell *matCellDef="let element"> {{ element.nomaeropuerto_origen}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nomaeropuerto_destino">
          <th mat-header-cell *matHeaderCellDef> Aeropuerto de Destino </th>
          <td mat-cell *matCellDef="let element"> {{ element.nomaeropuerto_destino }} </td>
        </ng-container>
      
        <ng-container matColumnDef="fechasalida">
          <th mat-header-cell *matHeaderCellDef> Fecha de Salida </th>
          <td mat-cell *matCellDef="let element"> {{ element.fechasalida }} </td>
        </ng-container>
      
        <ng-container matColumnDef="fechallegada">
          <th mat-header-cell *matHeaderCellDef> Fecha de Llegada </th>
          <td mat-cell *matCellDef="let element"> {{ element.fechallegada }} </td>
        </ng-container>
      
        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef> Duración </th>
          <td mat-cell *matCellDef="let element"> {{ element.duracion }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="custom-row"
            (click)="onNavigateVueloDetail(row.idvuelo)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>