<div class="container">
    <h1>{{jurisdiccionId}}</h1>
    <div class="module-header">
        <div class="left">
            <h3>{{formTitulo}}</h3>
        </div>
        <div class="right">
            <button mat-raised-button class="custom-button" color="primary" (click)="guardarJurisdiccion()">Guardar</button>
        </div>
    </div>
    <hr />
    <div class="form-container">
        <form class="form" [formGroup]="jurisdiccionForm">
            <input type="hidden" name="idjurisdiccion" formControlName="idjurisdiccion">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descripción</mat-label>
                <input matInput name="nomjurisdiccion" formControlName="nomjurisdiccion" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>País</mat-label>
                <mat-select formControlName="idpais">
                @for (pais of paises; track pais) {
                <mat-option [value]="pais.idpais" >{{pais.nompais}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>